* {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana;
}

body {
  background-image: linear-gradient(#C1B9C6,  #FDD49A, #C57760 );
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

.mes {
  padding: 30px 30px;
  width: 100%;
  background: #8C91A5;
  text-align:center;
}

.mes ul {
  margin: 0;
  padding: 0;
}

.mes ul li {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mes .ant {
  float: right;
  padding-top: 10px;
}

.mes .prox {
  float: left;
  padding-top: 10px;
}

.semana {
  margin: 0;
  padding: 10px 0;
  background: #B8B8C2;
}

.semana li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  color: black;
}

.semana-in {
  margin: 0;
  padding: 10px 10px;
  background-image: linear-gradient( #FDD49A, #D77B64);
}

.semana-in li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  color: white;
}

.dia {
  padding: 10px 0;
  background-image: linear-gradient(#C1B9C6,  #FDD49A, #C57760 );
  margin: 0;
}

.dia li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.dia li:hover {
  text-decoration: underline;
  color: #000;
  font-size: 22px;
}

.dia li .active{
  color: white;
  padding: 5px;
  background: #AD8DB2;
}

.calendario {
  width: 70%;
}

.nav-link {
  width: 300px;
  height: 100px;
  border: none;
  color: #8D87AB;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 30px;
  text-align: center;
  outline: none;
  border: 10px solid #C685A3;
  position: relative;
  z-index: 1;
  margin-right: 390px;
}

.nav-link:hover {
  color: black;
  cursor: pointer;
}

.nav-link:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #AC7FA0;
}

.nav-link:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
